@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster+Two:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import "sass/abstracts/variables";
@import "sass/layout/header";
@import "sass/layout/landing";
@import "sass/layout/vocabulary";
@import "sass/layout/review";
@import "sass/layout/wordList";
@import "sass/layout/ranking";
@import "sass/layout/settings";
@import "sass/layout/keyboard";
@import "sass/components/button";
@import "sass/components/form";
@import "sass/components/slide";


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: Open Sans;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.container {
  height: 87vh;
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.2s;
}

.not-centered {
  height: auto; 
}
