.vocabulary-heading {
    padding: 0 3rem;
    width: 100%;
    min-height: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: 2.8rem;
        color: $gold-medium;
        font-family: Lobster Two;
    }
}

.vocabulary-list {
    height: 65vh;
    width: 100%;
    list-style: none;
    padding: 0 2.5rem;
    overflow: scroll;
}

.vocabulary-list-item {
    height: 9rem;
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    border-top: 1px solid $grey-light;
    

    &_info {
        margin-right: auto;        
        color: #333;
    }

    &_title {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: .9rem;
    }

    &_count {
        color: $grey-medium;
        font-size: 1.4rem;
    }

    &_chevron {
        height: 2rem;
    }
}



