// Transparent button
.transparent-btn {
    padding: 0px;
    background-color: transparent;
    border: none;
    color: $gold-primary;
    vertical-align: middle;
    font-size: 1.6rem;
                  
    p {
        display: inline-block;
        font-weight: bold;
        font-size: 2rem;
        transform: translateY(2px);
    }

    &:hover {
        cursor: pointer;
    }
}
