.form-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 2rem;
    border-top: 1px solid $grey-light;
    border-bottom: 1px solid $grey-light;
    margin: 0rem 3rem;
    z-index: 100;

    .form-heading {
        font-size: 1.7rem;
        margin-bottom: 4rem;
    }

    form {
        width: 100%;
    }

    & button {
        width: 100%;
        border: none;
        background-color: $teal-medium;
        color: white;
        font-weight: 700;
        padding: 1.6rem;
        border-radius: 5px;
        margin-top: 2rem;

        &:active, &:focus {
            outline: none;
            border: 2px solid $teal-light;
        }
    }
}

input[type=text], input[type=password] {
    font-size: 1.6rem;
    width: 100%;
    font-family: inherit;
    margin-bottom: 2.5rem;
    border: 1px solid $grey-light;
    padding: 1.1rem 1.5rem;
    border-radius: 5px;

    &:focus {
        outline: none;
        border: 2px solid $teal-light;
    }
}

.form-heading {
    font-size: 1.7rem;
    margin-bottom: 4rem;
    text-align: center;
}

.btn {
    width: 100%;
        border: none;
        background-color: $teal-medium;
        color: white;
        font-weight: 700;
        padding: 1.6rem;
        border-radius: 5px;
        margin-top: 2rem;
        margin-bottom: 2rem;

        &:active, &:focus {
            outline: none;
            border: 2px solid $teal-light;

        &:hover {
            cursor: pointer;
        }
    }
}

// Slide up form
.slide-form {
    position: absolute;
    width: 87hv;
    top: 0;
    left: 0;
    z-index: 99;
    transform: translateY(100%);
    transition: all .5s;
    background-color: white;
}

.slide-up-form {
    transform: translateY(0%);
}


// Login & Register
.auth-container {
    width: 80%;
    text-align: left;

    a {
        text-decoration: none;
        color: black;
    }
}