/* ===================================
   Desktop Landing
==================================== */

.desktop-landing {
    background-color: $grey-white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15rem;
    padding-bottom: 10rem;
    height: 88vh;    
    width: 100vw;
    

    &_review {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 25rem;
        width: auto;
        // margin: 0 auto;
        margin-left: auto;
        transform: translateX(11rem);
        
        &--title {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 5rem;
            font-family: Great Vibes;
            color: white;
            align-self: center;
            justify-self: center;
            text-shadow: 2px 2px rgba(0, 0, 0, .25);
        }

        &--circle {
           width: 15vw;
           margin: auto;
        }

        &--tag {
            border: 1px solid white;
            border-radius: 5px;
            padding: .2rem 1.1rem;
            padding-bottom: .4rem;
            position: absolute;
            background-color:  #f8d679;
            top: 16rem;
            right: -0.5rem;
            font-size: 1.3rem;
            color: white;
            font-family: Lobster Two;
            font-weight: 900;
            box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .25);

            p {
                display: inline;
            }

            .check-mark{
                margin-left: .8rem;
                font-size: 1.6rem;
            }

        }

        #silver-tag {
            margin-right: 3rem;
        }
    }


    &_menu {
    // background-color: pink;
    margin-right: auto;

        &--card {      
            background-color: #fff;
            margin-right: auto;
            // width: 30rem;
            border: 1px solid $grey-light;
            border-radius: 9px;
            display: flex;
            align-items: center;
            padding: 3rem 5rem;
            padding-right: 3rem;
            margin: 2rem;
            margin-left: 30rem;
        }


        h5 {
            font-size: 1.6rem;
            font-weight: 600;
            margin-right: auto;
            color: $grey-black;
        }

        .icon {
            height: 2.5rem;
            margin-right: 2rem;
        }

        .chevron {
            margin-left: 10rem;
            height: 2rem;
            justify-self: flex-end;
        }
    
        #speechbubble {
            margin-left: 1px;
            height: 2.8rem;
        }
    }

} 






/* ===================================
   Mobile Landing
==================================== */

.mobile-landing {
    display: grid;
    grid-template-rows: 1fr min-content 2fr 70px 70px;
    height: 88vh;    
    width: 100vw;

    &_review {
        grid-row: 2/2;
        position: relative;
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 0 auto;
        
        &--title {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 6rem;
            font-family: Great Vibes;
            color: white;
            align-self: center;
            justify-self: center;
            text-shadow: 2px 2px rgba(0, 0, 0, .25);
        }

        &--circle {
           width: 70vw;
           margin: auto;
        }

        &--tag {
            border: 1px solid white;
            border-radius: 5px;
            padding: .6rem 1.7rem;
            position: absolute;
            background-color: $gold-primary;
            top: 70%;
            right: -3%;
            font-size: 1.5rem;
            color: white;
            font-family: Lobster Two;
            font-weight: 700;
            box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .25);

            p {
                display: inline;
            }

            .check-mark{
                margin-left: .8rem;
                font-size: 1.6rem;
            }

        }

        #silver-tag {
            margin-right: 3rem;
        }
    }

} 


/* ===================================
   750px
==================================== */

@media only screen and (min-width : 700px) {
    
   .mobile-landing_review--circle {
       width: 40vw;
   }
    
}


@media only screen and (min-width : 900px) {
    
   .mobile-landing_review--circle {
       width: 30vw;
   }
    
}