// Grey tones
$grey-black: #514F55;
$grey-dark: #7C7982;
$grey-medium: #C2BEC4;
$grey-light: #c9c8c8;
$grey-header: #FAFAFA;
$grey-white: #FDFDFD;
$grey-white: #FAFAFC;


// Gold tones
$gold-dark: #E9BB74;
$gold-primary: #f8d679;
$gold-primary: #f3c74f;
$gold-primary: #eebf3d;
$gold-light: #FFDA90;
$gold-light: #f8cd41c5;



// Media Queries
$desktop: 1100px;






